<div fxLayout="row" fxLayoutAlign="space-around start">
  <div fxFlex="90%">
    <!--  Nav bar - top - Account -->
    <mat-toolbar>
      <span><mat-icon>account_balance_wallet</mat-icon>Accounts </span>
      <span class="spacer"></span>
      <span>
        <a mat-raised-button color="primary" routerLink="/accounts/add-account"
          >Add</a
        ></span
      >
    </mat-toolbar>

    <!-- Table of accounts -->
    <app-accounts-table [accounts]="accounts"></app-accounts-table>
  </div>
</div>
