<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)"
  >
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/books">Books</a>
      <a mat-list-item routerLink="/users">Users</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span><mat-icon>flight_takeoff</mat-icon><small>WingMan</small></span>
      <span class="spacer"></span>

      <button mat-button [matMenuTriggerFor]="contactsMenu">Contacts</button>
      <!-- #docregion menu-position -->
      <mat-menu #contactsMenu="matMenu" yPosition="below">
        <!-- #enddocregion menu-position -->
        <button mat-menu-item><a routerLink="/accounts">Accounts</a></button>
        <button mat-menu-item>
          <a routerLink="/contact-groups">Contact Groups</a>
        </button>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="QuickQuoteMenu">QuickQuote</button>
      <mat-menu #QuickQuoteMenu="matMenu" yPosition="below">
        <button mat-menu-item><a routerLink="/accounts">Price Calculator</a></button>
        <button mat-menu-item><a routerLink="/accounts">New Quote</a></button>
        <button mat-menu-item><a routerLink="/accounts">Quotes</a></button>
        <button mat-menu-item><a routerLink="/accounts">Quote Template</a></button>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="productionMenu">Production</button>
      <mat-menu #productionMenu="matMenu" yPosition="below">
        <button mat-menu-item><a routerLink="/accounts">Orders</a></button>
        <button mat-menu-item><a routerLink="/accounts">Jobs Board</a></button>
        <button mat-menu-item><a routerLink="/accounts">Invoices</a></button>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="resourcesMenu">Resources</button>
      <mat-menu #resourcesMenu="matMenu" yPosition="below">
        <button mat-menu-item><a routerLink="/accounts">Products</a></button>
        <button mat-menu-item><a routerLink="/accounts">Finishing Options</a></button>
        <button mat-menu-item><a routerLink="/accounts">Services</a></button>
      </mat-menu>

      <!--
          <span>
            <a class="bg-color" routerLink="/books/add-book">
              +Book
            </a>
            <a class="bg-color" routerLink="/users/add-user">
              +User
            </a>
          </span> -->
    </mat-toolbar>
    <!-- Add Content Here -->
    <div fxLayout="row" fxLayoutAlign="space-evenly">
      <div>layout one</div>
      <div>layout two</div>
      <div>layout three</div>
    </div>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
