<div fxLayout="row" fxLayoutAlign="space-around start">
  <div fxFlex="90%">
    <p>
      <a mat-button color="primary" routerLink="/accounts"
        ><mat-icon>west</mat-icon>Account</a
      >
      <!-- Nav bar - account-details -->
      <mat-toolbar>
        <span><mat-icon>account_balance_wallet</mat-icon>Account Details</span>
        <span class="spacer"></span>
      </mat-toolbar>
    </p>

    <div
      class="container"
      fxLayout.gt-xs="row"
      fxLayout.lt-xs="column"
      fxLayoutGap="10px"
    >
      <div class="column-1" fxLayout="column" fxLayoutGap="10px">
        <mat-card class="child-1">
          <p style="color: blueviolet">Account Infomation</p>
          <p>
            <mat-form-field appearance="standard">
              <mat-label>Name</mat-label>
              <input matInput placeholder="Placeholder" />
              <mat-icon matSuffix>business</mat-icon>
              <mat-hint>Hint</mat-hint>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="standard">
              <mat-label>Website</mat-label>
              <input matInput placeholder="Placeholder" />
              <mat-icon matSuffix>website</mat-icon>
              <mat-hint>Hint</mat-hint>
            </mat-form-field>
          </p>
          <p style="color: blueviolet">Contact Groups</p>
          <p>Not included in any groups</p>
        </mat-card>
        <mat-card class="child-2">
          <p style="color: blueviolet">Contact Method</p>
          <p>
            <mat-form-field appearance="standard">
              <mat-label>Email</mat-label>
              <input matInput placeholder="Placeholder" />
              <mat-icon matSuffix>email</mat-icon>
              <mat-hint>Hint</mat-hint>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="standard">
              <mat-label>Phone</mat-label>
              <input matInput placeholder="Placeholder" />
              <mat-icon matSuffix>phone</mat-icon>
              <mat-hint>Hint</mat-hint>
            </mat-form-field>
          </p>
        </mat-card>
        <mat-card class="child-3">
          <p style="color: blueviolet">Account Infomation</p>
          <p>
            <mat-form-field appearance="standard">
              <mat-label>Payment Terms</mat-label>
              <input matInput placeholder="Placeholder" />
              <mat-icon matSuffix>payment</mat-icon>
              <mat-hint>Choose from the drop down list</mat-hint>
            </mat-form-field>
          </p>
        </mat-card>
      </div>
      <p fxLayoutGap="10px"></p>
      <div class="column-2" fxLayout="row" fxLayoutGap="10px">
        <mat-card class="child-1">
          <p style="color: blueviolet">Contacts</p>
          <p>
            <mat-list>
              <div mat-subheader>Folders</div>
              <mat-list-item *ngFor="let folder of folders">
                <mat-icon mat-list-icon>folder</mat-icon>
                <div mat-line>{{ folder.name }}</div>
                <div mat-line>{{ folder.updated | date }}</div>
              </mat-list-item>
              <mat-divider></mat-divider>
              <div mat-subheader>Notes</div>
              <mat-list-item *ngFor="let note of notes">
                <mat-icon mat-list-icon>note</mat-icon>
                <div mat-line>{{ note.name }}</div>
                <div mat-line>{{ note.updated | date }}</div>
              </mat-list-item>
            </mat-list>
          </p>
        </mat-card>

        <mat-card class="child-2">
          <p style="color: blueviolet">Quotes</p>
          <p>
            <mat-list>
              <div mat-subheader>Folders</div>
              <mat-list-item *ngFor="let folder of folders">
                <mat-icon mat-list-icon>folder</mat-icon>
                <div mat-line>{{ folder.name }}</div>
                <div mat-line>{{ folder.updated | date }}</div>
              </mat-list-item>
              <mat-divider></mat-divider>
              <div mat-subheader>Notes</div>
              <mat-list-item *ngFor="let note of notes">
                <mat-icon mat-list-icon>note</mat-icon>
                <div mat-line>{{ note.name }}</div>
                <div mat-line>{{ note.updated | date }}</div>
              </mat-list-item>
            </mat-list>
          </p>
        </mat-card>
        <mat-card class="child-3">
          <p style="color: blueviolet">Invoices</p>
          <p>
            <mat-list>
              <div mat-subheader>Folders</div>
              <mat-list-item *ngFor="let folder of folders">
                <mat-icon mat-list-icon>folder</mat-icon>
                <div mat-line>{{ folder.name }}</div>
                <div mat-line>{{ folder.updated | date }}</div>
              </mat-list-item>
              <mat-divider></mat-divider>
              <div mat-subheader>Notes</div>
              <mat-list-item *ngFor="let note of notes">
                <mat-icon mat-list-icon>note</mat-icon>
                <div mat-line>{{ note.name }}</div>
                <div mat-line>{{ note.updated | date }}</div>
              </mat-list-item>
            </mat-list>
          </p>
        </mat-card>
      </div>
    </div>
  </div>
</div>
