
/* filter */
.mat-form-field {
  font-size: 14px;
  width: 100%;
}
/* nav bar */
.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

.spacer {
  flex: 1 1 auto;
}

/* mat Table */
table {
  width: 100%;
}

/* table columns */
.w-120{
  width: 120px;
}

.w-100{
  width: 100px;
}

.th-center{
  text-align: center;
}
.th-left{
  text-align: left;
}
.th-right{
  text-align: right;
}

/* ToolTip */
.tooltip-host {
  display: inline-flex;
  align-items: center;
  margin: 50px;
}
.select {
  margin: 0 10px;
}
